@import url('https://fonts.googleapis.com/css?family=New+Rocker');
body{margin:0;}
#navbar
{
	font-family: 'New Rocker', cursive;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	border: 1px solid black;
	background-color: #333;
	z-index: 999;
}
div#nav
{
	width:70%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	left: 50%;
	right: 50%;
	text-align: center;
}
div#nav ul {
	padding: 0;
}
div#nav li
{
	display:inline;
}
div#nav li a {
	color: white;
	text-align: center;
	padding: 1% 4%;
	text-decoration: none;
}
div#nav li a:hover:not(.active)
{
	background-color: #111;
}
#nav .active {
	background-color: #891111;
}

div#image {
	width: 15%;
}
div#image img
{
	width: 187.5px;
  height: 30px;
  margin-top: 10px;
  float: left;
	position:fixed;
	left: 5px;
}
div#socmed {
	width:15%;
	display:block;
	position:fixed;
	top:0;
	right: 1%;
	text-align: center;
}
div#socmed ul {
	padding: 0;
}
div#socmed li
{
	display:inline;
}
div#socmed li a
{
	padding: 0.5%;
}
@media only screen and (max-width: 1000px) {
	div#nav {
		width: 100%;
	}
	div#image {
		text-align: center;
		display: inline-block;
		width: 100%;
	}
	div#image img{
		position: static;
		float: none;
	}
	div#socmed {
		width: 100%;
		position: static;
	}
	.allpages {
		padding-top: 88px;
		max-width: 100%;
	}
	.allpages div#bg {
		width: 100%;
	}
}
@media only screen and (max-width: 520px) {
	div#nav li a {
		padding: 1% 3%;
	}
}
@media only screen and (max-width: 420px) {
	div#nav li a {
		padding: 1% 2%;
	}
}
@media only screen and (max-width: 420px) {
	div#nav li a {
		padding: 1% 1%;
	}
}




.bgall {
     background-image: url("../Assets/SiteBackground.jpg");
     position: fixed;
     background-repeat: no-repeat;
     background-size: cover;
		 background-position: center;
     top: 0;
     left: 0;
     bottom: 0;
     height: 100%;
     width: 100%;
     z-index: -999;
}




.allpages {
  font-family: 'New Rocker', cursive;
	width: 100%;
	height: 100%;
	margin-top: 54px;
	margin-left: auto;
	margin-right: auto;
}
.allpages div#bg {
	position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
	width: 100%;
	opacity: 0.8;
	background-color: #333;
	z-index: -998
}




.gallery {
	height: 300px;
	display: inline-block;
}
.latestnews {
	display: inline-block;
}
.latestnews #text{
	max-width: 100%;
	text-align: left;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
}
.latestnews #text h2 {
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
}
.latestnews #text a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	font-style: italic;
}
.latestnews #text a:hover{
	text-decoration: underline;
}
.latesttours {
	width: 50%;
	display: inline-block;
}
.latesttours #tourstext{
	width: 100%;
	text-align: center;
		color: white;
}
.latesttours #tourstext h2 {
	text-decoration: underline;
	font-weight: bold;
}
.latesttours #indexTable {
	margin-left: auto;
  margin-right: auto;
	border-collapse: collapse;
  width: 90%;
  border: 1px solid #ddd;
  font-size: 18px;
}

.latesttours #indexTable th, #indexTable td {
    text-align: center;
    padding: 12px;
}

.latesttours #indexTable tr {
    border-bottom: 1px solid #ddd;
}

.latesttours #indexTable tr.header{
    background-color: #111;
}
.rowlink:hover {
	background-color: #891111;
	cursor: pointer;
}
.latesttours #tableLink{
	display: inline-block;
	margin-top: 20px;
	padding: 10px;
	text-decoration: none;
	color: white;
}
.latesttours #tableLink:hover{
		background-color: #891111;
}
.latestalbum {
	height: 454.19px;
	width: 50%;
	display: inline-block;
	float: right;
}
.latestalbum #albumtext {
	text-align:center;
	color: white;
	font-weight: bold;
	text-decoration: underline;
}
.latestalbum iframe {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: 400px;
	border: 1px solid white;
}
.pagelink {
	width: 50%;
	display: inline-block;
	text-align: center;
	margin: 80px 0px 80px 0px;
}
.pagelink a {
	background-color: #111;
	padding: 10px;
	text-decoration: none;
  color: white;
}
.pagelink a:hover {
	background-color: #891111;
}
@media only screen and (max-width: 600px) {
	.latesttours {
		width: 100%;
	}
	.latestalbum {
		float: none;
		width: 100%;
	}
	.pagelink {
		width: 100%;
	}
}

.imagegallery {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.gallerySlides {
    display: none;
}
.gallerySlides img {
	width: 100%;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #111;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#dotcontainer .active {
	background-color: #891111;
}
#dotcontainer {
	text-align: center;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




.pageTitle {
	text-align: center;
	color: white;
}
.pageTitle h1 {
	display: inline-block;
	text-decoration: underline;
}




div.first img {
	float:left;
	width:250px;
	margin: 10px;
}
div.first p{
	max-width: 100%;
	text-align: left;
	color: white;
	padding-bottom: 5%;
	margin: 10px;
}
div.first h2 {
	max-width: 100%;
	text-align: center;
	color: white;
	text-decoration: underline;
	font-style: italic;
}
div.second img {
	float:right;
	width:250px;
	margin: 10px;
}
div.second p {
	max-width: 100%;
	text-align: left;
	color: white;
	padding-bottom: 2%;
	margin: 10px;
}
div.second h2 {
	max-width: 100%;
	text-align: center;
	color: white;
	text-decoration: underline;
	font-style: italic;
}
div.third img {
	float:left;
	width:250px;
	margin: 10px;
}
div.third p {
	max-width: 100%;
	text-align: left;
	color: white;
	margin: 10px;
}
div.third h2 {
	max-width: 100%;
	text-align: center;
	color: white;
	text-decoration: underline;
	font-style: italic;
}
@media only screen and (max-width: 425px) {
	div.first {
		text-align: center;
	}
	div.first img {
		float: none;
	}
	div.second {
		text-align: center;
	}
	div.second img {
		float: none;
	}
	div.third {
		text-align: center;
	}
	div.third img {
		float: none;
	}
}




.albums {
	width: 100%;
	display: inline-block;
	text-align: center;
}
.albums img {
	border-radius: 5px;
	width: 250px;
	margin: 10px;
}
.smashmouthalbums {
	transition: 0.3s;
}
.albums a:hover, .externalmusic #applemusic:hover, .externalmusic #spotify:hover{
	opacity: 0.7;
}
.albums #albumstitle {
	color: white;
	text-align: left;
	margin-left: 30px;
	font-style: italic;
	text-decoration: underline;
}
.externalmusic {
	margin-top: 20px;
	width: 100%;
	text-align: center;
	display: inline-block;
}
.externalmusic #externalmusictitle {
	color: white;
	font-style: italic;
	text-decoration: underline;
}
.externalmusic #applemusic {
  transition: 0.3s;
	width: 250px;
	margin: 20px;
	border-radius: 20%;
}
.externalmusic #spotify {
  transition: 0.3s;
	width: 250px;
	margin: 20px;
	border-radius: 50%;
}




.tablediv {
	display: inline-block;
	margin-top: 20px;
	width: 100%;
}

#tourTable {
	margin-left: auto;
  margin-right: auto;
	border-collapse: collapse;
  width: 90%;
  border: 1px solid #ddd;
  font-size: 18px;
	color: white;
}

#tourTable th, #tourTable td {
    text-align: center;
    padding: 12px;
}

#tourTable tr {
    border-bottom: 1px solid #ddd;
}

#tourTable tr.header{
    background-color: #111;
}
 .rowlink:hover {
	 background-color: #891111;
 }
.map {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: 480px;
}
.map #maptitle {
	text-align: center;
	color: white;
	text-decoration: underline;
	font-style: italic;
}
.map #googlemaps {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}




.mediagallery {
	text-align: center;
}
.mediagallery #mediagallerytitle{
	color: white;
	text-align: left;
	margin-left: 30px;
	font-style: italic;
	text-decoration: underline;
}

.mediaimages {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
	margin: 20px;
	width: 280px;
	height: 280px;
	display: inline-block;
}

.mediaimages:hover {opacity: 0.7;}

.modal {
  display: none;
  position: fixed;
  z-index: 99999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
      width: 100%;
  }
}




.shopcustomiser {
	text-align: center;
}
.left1, .right1 {
	cursor:pointer;
	position: relative;
	display: inline-block;
}
.badge1 {
	height:13px;width:13px;padding:2px;
}
.content1 {
	max-width:980px;
	margin:auto;
}
.section1 {
margin-top:16px!important;
margin-bottom:16px!important;
}
.center1 {
text-align:center!important;
}
.center1 {
display:inline-block;
width:auto;
}
.Slideshow1, .panel1 {
padding:0.01em 16px;
}
.panel1 {
margin-top:16px;
margin-bottom:16px;
}
.large1 {
font-size:38px!important;
}
.text-white1,.hover-text-white1:hover {
color:Blue!important;
}
.display-bottommiddle1 {
position:absolute;left:50%;
bottom:0;transform:translate(-50%,0%);
-ms-transform:translate(-50%,0%);
}
.display-container1:hover .display-hover1 {
display:block;
}
.display-container1:hover span.display-hover1 {
display:inline-block;
}
.display-container1 {
position:relative;
}
.left-align1 {
text-align:left!important;
}
.left1 {
float:left!important;
}
.hover-text-khaki1:hover {
color:#b4aa50!important;
cursor: pointer;
}
.right1 {
float:right!important;
}

#customisertxt {
	position: relative;
  top: 60px;
	right: 315px;
}
#customtext {
	position: absolute;
	top: 250px;
	right: 200px;
}
#T-Shirtpos {
	position: absolute;
	top: 240px;
	left: 50px;
}
.T-shirt {
	width: 650px;
	height: 600px;
	display: none;
	position: absolute;
	border-radius: 5px;
}
.T-shirt#BlackT {
	display: block;
}
#sliderlogos {
	position: absolute;
	left: 250px;
	top: 370px;
}
#Customiserpic {
	position: absolute;
	top: 240px;
	right: 100px;
}
#customtext1 {
	position: absolute;
	top: 315px;
	right: 200px;
}
#Customiserpic1 {
	position: absolute;
	top: 310px;
	right: 100px;
}
#customtext2 {
	position: absolute;
	top: 375px;
	right: 200px;
}
#Customiserpic2 {
	position: absolute;
	top: 370px;
	right: 100px;
}
#nextCustomiser {
  position: absolute;
  right: 0;
  top: 50%;
}
#lastCustomiser {
  position: absolute;
  left: 0;
  top: 50%;
}
#customtext3 {
	position: absolute;
	top: 445px;
	right: 200px;
}
#Customiserpic3 {
	position: absolute;
	top: 440px;
	right: 100px;
}
#customtext4 {
	color: white;
	position: absolute;
	top: 840px;
	left: 150px;
	text-align: center;
}
#addtobasket {
	position: absolute;
	right: 120px;
	top: 550px;
}
@media only screen and (max-width: 1000px) {
	#customtext4 {
    left: 50%;
    transform: translate(-50%);
	}
	.T-shirt {
    transform: translate(-50%);
	}
	#T-Shirtpos {
    left: 50%;
	}
	#sliderlogos {
    left: 50%;
    transform: translate(-50%);
	}
	#Customiserpic {
    top: 905px;
    right: initial;
		left: 25%;
	}
	#Customiserpic1 {
    top: 905px;
    right: initial;
		left: 40%;
	}
	#Customiserpic2 {
    top: 905px;
    right: initial;
		left: 55%;
	}
	#Customiserpic3 {
    top: 905px;
    right: initial;
		left: 70%;
	}
	#customtext {
		top: 960px;
    right: initial;
		left: 25%;
		margin-bottom: 20px;
	}
	#customtext1 {
		top: 960px;
    right: initial;
		left: 40%;
		margin-bottom: 20px;
	}
	#customtext2 {
		top: 960px;
    right: initial;
		left: 55%;
		margin-bottom: 20px;
	}
	#customtext3 {
		top: 960px;
    right: initial;
		left: 70%;
		margin-bottom: 20px;
	}
	#addtobasket {
		left: 50%;
		transform: translate(-50%);
		top: 1050px;
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 670px) {
	.T-shirt {
		width: 450px;
		height: 400px;
	}
	#customtext4 {
		top: 625px;
    left: 50%;
    transform: translate(-50%);
	}
	#Customiserpic {
    top: 700px;
	}
	#Customiserpic1 {
    top: 700px;
	}
	#Customiserpic2 {
    top: 700px;
	}
	#Customiserpic3 {
    top: 700px;
	}
	#customtext {
		top: 750px;
	}
	#customtext1 {
		top: 750px;
	}
	#customtext2 {
		top: 750px;
	}
	#customtext3 {
		top: 750px;
	}
	#sliderlogos {
		top: 320px;
	}
	.Slides {
		max-width: 150px;
	}
	.center1 {
		max-width: 400px;
	}
	#addtobasket {
		top: 800px;
	}
}
@media only screen and (max-width: 470px) {
	.T-shirt {
		width: 300px;
		height: 275px;
	}
	#customtext4 {
		top: 510px;
	}
	#sliderlogos {
		top: 300px;
	}
	.Slides {
		max-width: 120px;
	}
	.center1 {
		max-width: 250px;
	}
	#Customiserpic {
    top: 620px;
		left: 10%;
	}
	#Customiserpic1 {
    top: 620px;
		left: 30%;
	}
	#Customiserpic2 {
    top: 620px;
		left: 50%;
	}
	#Customiserpic3 {
    top: 620px;
		left: 70%;
	}
	#customtext {
		top: 670px;
		left: 10%;
	}
	#customtext1 {
		top: 670px;
		left: 30%;
	}
	#customtext2 {
		top: 670px;
		left: 50%;
	}
	#customtext3 {
		top: 670px;
		left: 70%;
	}
	#addtobasket {
		top: 750px;
	}
}
#demo {
	width: 80%;
	height: 500px;
	display: inline-block;
	margin-left: 10%;
	margin-right: 10%;
}
.criticallog {
	color: white;
	margin-left: 20px;
	margin-right: 20px;
}
#criticallogtitle {
	text-decoration: underline;
	font-style: italic;
}
/* Poo */
